<h1>APP COMPONENT</h1>

<p *ngFor="let seaData of seaDataArray">
    <span>{{seaData.date | date: 'dd/MM/yyyy HH:mm'}}</span>
    <span>----></span>
    <span>{{seaData.value}}</span>
    <span>----></span>
    <img width="20px" *ngIf="seaData.icon === 'start'" src="./assets/images/play-solid.svg" alt="down">
    <img width="20px" *ngIf="seaData.icon === 'down'" src="./assets/images/arrow-down-solid.svg" alt="down">
    <img width="20px" *ngIf="seaData.icon === 'up'" src="./assets/images/arrow-up-solid.svg" alt="up">
    <img width="20px" *ngIf="seaData.icon === 'equal'" src="./assets/images/equals-solid.svg" alt="equal">
</p>

<!-- <button (click)="incrementCounter()">Increment</button> -->

<router-outlet></router-outlet>